<head>
  <%= stylesheet_link_tag 'favorites_index'%>
</head>

<div class="favorites"><%= @user.username %>のいいね一覧</div>

<% @favorites.each do |favo| %>
 <%= link_to post_path(favo.post.id) do %>
  <%= favo.post.title %>
  <%= image_tag favo.post.image, size: "300x300" %>
 <% end %>
<% end %> 
