<head>
 <%= stylesheet_link_tag 'users_edit'%>
</head>

<div class="profile_edit">プロフィール編集</div>
 <!--プロフィールの更新失敗バリデーション-->
  <div class="errors">
    <% if @user.errors.any? %>
      <%= @user.errors.count %>件のエラー
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

 <%= form_with model: @user do |f| %>
  <div class="edit_prfile_image">
  <label for="inputImage">プロフィール写真</label></br>
   <%= f.file_field :profile_image, accept: "image/*" %>  
  </div>
  
   <div class="edit_user_name">
   <label for="inputName">ユーザーネーム</label></br>
   <%= f.text_field :username, id:"inputName"%>
   </div>
  
  <div class="edit_introduction">
  <label for="inputIntroduction">自己紹介</label></br>
   <%= f.text_area :introduction, id:"inputIntroduction"%>
  </div>
  <div class="edit_update"><%= f.submit "更新" %></div>
  <% end %>
 
 <div class="withdrawal">
  <%= link_to "退会する",user_path(current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
 </div> 

