<% if user_signed_in? && @user == current_user %>

<h1>マイページ</h1>
<!--ログインフラッシュメッセージ-->
<p><%= flash[:notice] %></p>
<!--プロフィール写真-->
<%= image_tag @user.get_profile_image(100,100)  %>
  
<h2>ユーザー名：<%= @user.username %></h2>
<!--自己紹介-->
<h4>自己紹介：<%= @user.introduction %></h4>
 <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>

    
 <h2>自分の投稿一覧</h2>
  <% @posts.each do |post| %>
  <!--投稿画像のみ表示-->
   <%= link_to post_path(post.id) do %>
　  <%= image_tag post.image, size: "300x300" %>
　 <% end %>
　　 　
  <% end %>

  
  <!--他のユーザー-->
   <% else %>
    <h1>ユーザー詳細ページ</h1>
    <!--プロフィール写真-->
   
    <h2>ユーザー名：<%= @user.username %></h2>
    <!--自己紹介文-->
    <h4>自己紹介：<%= @user.introduction %></h4>
    <h2>ユーザーの投稿一覧</h2>
    <% @posts.each do |post| %>
  <!--投稿画像のみ表示-->
   <%= link_to post_path(post.id) do %>
　  <%= image_tag post.image, size: "300x300" %>
　 <% end %>
  <% end %>
  
  <% end %>

