<% if user_signed_in? && @user == current_user %>
  <h1>マイページ</h1>
  <h2>ユーザー名：<%= @user.username %></h2>
  
  <%= link_to "プロフィール編集", edit_user_path(@user.id) %>
  
  <h2>自分の投稿一覧</h2>
   <% @posts.each do |post| %>
   
  <div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post_path :image %>
    <%#= image_tag post_path :image, size: "300x300"%>
  <% end %>
  
   
   <h2>画像</h2>
　　<%= image_tag post.image, size: "300x300" %>
    
   <h2>施設や道の場所名</h2>
   <span><%= post.title %></span>
   
   <h2>文章</h2>
   <span><%= post.body %></span>
  
<% end %>
  
  
<% else %>
  <h1>ユーザー詳細ページ</h1>
  <h2>ユーザー名：<%= @user.username %></h2>
  
  <p>ユーザーの投稿一覧</p>
<% end %>

