<head>
  <%= stylesheet_link_tag 'top'%>
</head>

<body>
   <div class="main-visual1">
   <!--ログアウトフラッシュメッセージ-->
   <div class="flash">
   <p><%= flash[:notice] %></p>
   </div>
   <br>
   <div><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></div>
   </br>
   <div class="log_in">
    <%= link_to "ログイン", new_user_session_path %>
   </div>
   </br>
   <%= link_to "新規登録", new_user_registration_path %>
  </div>
  
<!--メイン-->
 <main>
  <div class="oshimeguri_introduce">〜推し巡りとは〜</div>
  
  <div class="oshimeguri_introduce2">
   このウェブサイトはいわゆる推しが訪れた場所を聖地巡礼して</br>
   そのオタ活を投稿して情報発信することを目的としたコミュニティーサイトです。</br>
   投稿検索などで他の聖地巡礼スポットを発見したり</br>
   ユーザー検索で検索したユーザーの投稿一覧などを見ることができます。</br>
   皆さんにとってもっと楽しいオタ活ライフになる１つのサイトとなれたらと思います。
  </div>
  
 </main>
 </body>

 
