<head>
  <link rel="stylesheet" href="../../assets/stylesheets/posts_edit.css" />
</head>

<div class="post_edit">投稿編集ページ</div>
 <!--投稿の更新失敗バリデーション-->
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラー
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
     <!--更新投稿フォーム-->
     <%= form_with model: @post do |f| %>
     
      <div class="edit_post_image">投稿画像</br>
  　　<%= f.file_field :image, accept: "image/*" %>
     </div>
     
     <div class="edit_title">
      <label for="inputTitle">施設や道の場所名</label></br>
      <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"お店の名前など"%>
     </div>
     
     <div class="edit_body">
       <label for="inputBody">投稿文</label></br>
      <%= f.text_area :body, autofocus: true, id:"inputBody", placeholder:"投稿したい文"%>
     </div>
     
     <div class=edit_update><%= f.submit "更新" %></div>
     
      
     <% end %>