<h1>編集ページ</h1>
 <!--投稿の更新失敗バリデーション-->
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラー
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    
     <!--更新投稿フォーム-->
     <%= form_with model: @post do |f| %>
     <p>
      <h4>投稿画像</h4>
  　　<%= f.file_field :image, accept: "image/*" %>
     </p>
     <p>
      <label for="inputTitle">施設や道の場所名</label>
      <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"お店の名前など"%>
     </p> 
     
     <p>
       <label for="inputBody">文章</label>
      <%= f.text_area :body, autofocus: true, id:"inputBody", placeholder:"投稿したい文"%>
     </p>
     <p>
      <%= f.submit "更新" %>
      </p>
     <% end %>