 <head>
  <%= stylesheet_link_tag 'posts_new'%>
</head>

<div class="post_page">投稿ページ</div>

<div class="errors">
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>


 <%= form_with model: @post do |f| %>
  <div class="post_adress">
   <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
   <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
   <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
   <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
  </div>
  
　<div class="post_new_image">投稿画像</br>
  <%= f.file_field :image, accept: "image/*" %>
  </div>
  
  <div class="post_new_title">施設や道の場所名</br>
  <%= f.text_field :title %>
  </div>
  
  <div class="post_new_body">投稿文</br>
  <%= f.text_area :body %>
	</div>
	
	<div class="post_button"><%= f.submit '投稿' %></div>
	
	
	<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>
  
 <% end %>