<head>
 <%= stylesheet_link_tag 'posts_show'%>
</head>

 <div class="post_show">投稿詳細ページ</div>
 <!--投稿成功フラッシュメッセージ-->
 <div class="flash2"><%= flash[:notice] %></div>
 
 <!--投稿したユーザーのアイコンとユーザーネーム-->
 <div class="show_profile">
  <%= link_to user_path(@post.user_id) do %>
   <%= image_tag @user.get_profile_image(100,100)  %>
  <% end %>
 </div>
 
 <div class="post_user_name"><%= @user.username %></div>
 
 
 <!--投稿画像-->
 <div class="show_img">
<%= image_tag @post.image, size: "500x500" %>
</div>
<div class ="post_created">
 <%= @post.created_at.strftime('%Y/%m/%d') %>
</div>

<<<<<<< HEAD
<div class="like">
 <% if @post.liked_by?(current_user) %>
  <p>
   <%= link_to post_likes_path(@post), method: :delete do %>
     ♥<%= @post.likes.count %> いいね
=======
<div class="favorite">
 <% if @post.favorited_by?(current_user) %>
  <p>
   <%= link_to post_favorite_path(@post), method: :delete do %>
     ♥<%= @post.favorites.count %> いいね
>>>>>>> origin/feature/favorite
   <% end %>
  </p>
   <% else %>
  <p>
<<<<<<< HEAD
   <%= link_to post_likes_path(@post.id), method: :post do %>
     ♡<%= @post.likes.count %> いいね
=======
   <%= link_to post_favorite_path(@post), method: :post do %>
     ♡<%= @post.favorites.count %> いいね
>>>>>>> origin/feature/favorite
   <% end %>
  </p>
 <% end %>
</div>

<div class="shop_road_name">施設や道の場所名
<p><%= @post.title %></p>
</div>

<div class="post_text">投稿文
<p><%= @post.body %></p>
</div>


<% if @post.user == current_user %>
<div class="post_edit">
 <%= link_to "投稿編集", edit_post_path(@post.id) %>
</div>
<div class="post_delete">
 <%= link_to "投稿削除",post_path(@post.id), method: :delete, "data-confirm"=>"本当に削除しますか？" %>
</div>
<% end %>

<!--コメント機能-->
<div class=post_comments>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
  
   <%= link_to user_path(post_comment.user) do %>
    <%= image_tag post_comment.user.get_profile_image(50,50) %>
   <% end %>
   
    <p><%= post_comment.user.username %></p>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
     <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
    <p><%= post_comment.comment %></p>
   
  <% end %>
</div>
<div class=post_comments2>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをしてみましょう" %>
    <p><%= f.submit "送信する" %></p>
  <% end %>
</div>

