 <h1>投稿詳細ページ</h1>
 
 <%= flash[:notice] %>
 
 <!--投稿画像-->
<%= image_tag @post.image, size: "300x300" %>

<h4>施設や道の場所名</h4>
<p><%= @post.title %></p>

<h4>投稿文</h4>
<p><%= @post.body %></p>

<p>
<%# if @post.user == current_user %>
 <%= link_to "投稿編集", edit_post_path(@post.id) %>
<%# end %>
</p>
<p>
<%# if @post.user == current_user %>
 <%= link_to "投稿削除",post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？" %>
<%# end %>
</p>
