<!DOCTYPE html>
<html>
  <head>
    <title>推し巡り</title>
    <link rel="stylesheet" href="../../assets/stylesheets/application.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class= "title">押し巡り</div>
    
     <%# if user_signed_in? && @user == current_user %>
     <div class="header-bottom">
     <% if user_signed_in? %>
      <%= link_to "新規投稿", new_post_path %>
      <%= link_to "マイページ", users_mypage_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>  
         <!--ユーザー検索ボタン-->
         
         <!--投稿検索ボタン-->
        
      <!--ここまで、ログインしている時の表示-->
      
      <!--ここから、ログインしていない時の表示-->
     <% else %>
     <div class="header-bottom">
       <%= link_to "新規登録", new_user_registration_path %>
       <%= link_to "ログイン", new_user_session_path %>
     <% end %>
     </div>
    </header>
    
    <%= yield %>
  </body>
</html>
